---
layout: default
---

<h1>Recent Projects</h1>
<div class="grid-list">
    {% for project in site.projects %}
    <a href="{{ project.url }}" class="page-preview">
        <h3>{{ project.title }}</h3>
        <p>{{ project.brief }}</p>
    </a>
    {% endfor %}
</div>

<h1>Recent Blogs</h1>
<div class="block-list">
    {% for post in site.posts %}
    <a href="{{ post.url }}" class="page-preview">
        <h3>{{ post.title }}</h3>
        <p><b>Date:</b> {{ post.date }}</p>
        <p><b>Categories: </b> 
            {% for category in post.categories %}
                {{ category }}
            {% endfor %}
        </p>
    </a>
    {% endfor %}
</div>