body {
    background-color: black;

    margin: 0;
    padding-top: 0;
    border: 0;

    background-image: url("/assets/img/bg.jpg");
    background-repeat: repeat;

    font-family: Verdana, Geneva, Tahoma, sans-serif
}

@media only screen and (orientation: landscape) {
    body {
        padding-left: 20%;
        padding-right: 20%;
    }

    div.grid-list {
        grid-template-columns: repeat(3, 33%);
    }
}

@media only screen and (orientation: portrait) {
    html {
        font-size: 250%;
    }

    div.grid-list {
        grid-template-columns: 100%;
    }

}

ul {
    margin: 0;
}

div.grid-list {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.block-list {
    display: grid;

    grid-template-columns: 100%;
}

.page-preview {
    background:#C0C0C0;
    border-width:2px;
    border-color:#f0f0f0 #808080 #808080 #f0f0f0;
    border-style:solid;

    margin: 8px;

    text-decoration: none;

    box-shadow: 4px 4px 0px black;
}
.page-preview > h3 {
    font-size: 1em;
    color: white;
    background-color: blue;

    padding-left: 10px;
    margin: 0;
}

.page-preview > * > button {
  margin:2px 2px 2px 0;
  float:right;
  width:14px;
  height:13.5px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
  focus:none;
}

.page-preview > * > button:focus {
   outline: none;
}

.page-preview:link, .page-preview:visited {
    color: black;
}

.page-preview > * > * {
    margin: 0;
}
.page-preview > * > p {
    font-size: 0.8em;
}

.page-preview > div {
    padding: 10px;
}

div.root {
    position: relative;
    background-color: white;

    padding-left: 3%;
    padding-right: 3%;

    padding-bottom: 50px;

    box-shadow: 0px 0px 30px 3px gray;

    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 5px;

    margin: 5px;
}

h1 {
    margin-bottom: 3px;
}

.info > p {
    margin: 0;
}

.tags > p {
    display: inline;
    margin: 0;
    margin-right: 5px;
}

.tags {
    display: flex;
    padding: 0;
    margin-top: 5px;
}

.tags > li {
    color: rgb(75, 75, 75);

    list-style: none;
    margin: 0;
    padding-right: 8px;
}

nav {
    padding-top: 15px;
    width: 100%;

    display: inline-block;
}

nav > ul {
    display: flex;

    float: right;
}

nav > ul > li {
    list-style-type: none;

    margin-left: 10px;
}