code {
    max-width: 100%;
    text-wrap: pretty;
}

p {
    margin: 0.5em;
}

blockquote {
    margin: 0;
    margin-top: 0;
    padding: 0.5em;

    text-align: left;

    box-sizing: border-box;
}

blockquote > p {
    display: inline-block;
    margin: 0;

    vertical-align: text-top;
}

blockquote.prompt-tip {
    background-color: rgba(0, 153, 255, 0.347);
}

blockquote.prompt-tip::before {
    display: inline-block;
    content: url("/assets/img/info.png");
    margin: 0.5em;

    vertical-align: middle;
}

body {
    background-color: black;
    background-attachment: fixed;

    margin: 0;
    padding-top: 0;
    border: 0;

    background-image: url("/assets/img/bg.jpg");
    background-repeat: repeat;

    font-family: Meriwe;
}

html {
    font-size: 1.25em
}

@media only screen and (orientation: landscape) {
    body {
        padding-left: 20%;
        padding-right: 20%;
    }

    div.grid-list {
        grid-template-columns: repeat(3, 33%);
    }

    footer > a > img {
        width: 50px;
    }

    nav > ul {
        font-size: 1.5em;
    }
}

@media only screen and (orientation: portrait) {
    html {
        font-size: 1.5em;
    }

    div.grid-list {
        grid-template-columns: 100%;
    }

    div.root {
        padding-bottom: 150px;
    }

    footer > a > img {
        width: 10vw;
    }

    nav > ul {
        font-size: 0.7em;
    }

}

ul {
    margin: 0;
}

div.grid-list {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.block-list {
    display: grid;

    grid-template-columns: 100%;
}

.page-preview {
    background:#C0C0C0;
    border-width:2px;
    border-color:#f0f0f0 #808080 #808080 #f0f0f0;
    border-style:solid;

    margin: 8px;

    text-decoration: none;

    box-shadow: 4px 4px 0px black;
}
.page-preview > h3 {
    font-size: 1em;
    color: white;
    background-color: blue;

    padding-left: 10px;
    margin: 0;
}

.page-preview > * > button {
  margin:2px 2px 2px 0;
  float:right;
  width:14px;
  height:13.5px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
  focus:none;
}

.page-preview > * > button:focus {
   outline: none;
}

.page-preview:link, .page-preview:visited {
    color: black;
}

.page-preview > * > * {
    margin: 0;
}
.page-preview > * > p {
    font-size: 0.8em;
}

.page-preview > div {
    padding: 10px;
}

div.root {
    position: relative;
    background-color: white;

    min-height: 100vh;
}

.content {
    padding: 3%;
}

footer {
    position: absolute;

    bottom: 5px;

    padding-left: 35px;
    padding-right: 35px;

    width: 90%;
}

footer > a > img {
    image-rendering: optimizeSpeed; 
    image-rendering: -moz-crisp-edges; 
    image-rendering: -o-crisp-edges; 
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: pixelated; 
    image-rendering: optimize-contrast; 
    -ms-interpolation-mode: nearest-neighbor;
}

h1 {
    margin-bottom: 3px;
}

.info > p {
    margin: 0;
}

.tags > p {
    display: inline;
    margin: 0;
    margin-right: 5px;
}

.tags {
    display: flex;
    padding: 0;
    margin-top: 5px;
}

.tags > li {
    color: rgb(75, 75, 75);

    list-style: none;
    margin: 0;
    padding-right: 8px;
}

nav {
    padding: 25px;

    height: 70px;

    background-color: #C0C0C0;

    background-image: url("/assets/img/bg2.jpg");
    background-repeat: repeat;

    display: flex;

    border-color:#f0f0f04a #8080804a #8080804a #f0f0f04a;
    border-width: 8px;
    border-style: solid;
}

nav > ul > li {
    background-color: #C0C0C0;
    justify-content: center;
    text-align: center;
    padding-top: 5px;

    border-width:4px;
    border-color:#f0f0f0 #808080 #808080 #f0f0f0;
    border-style:solid;

    height: 70%;
}

nav > ul > li:focus {
    background-color: #808080;
}

li > a {
    color: inherit;
    text-decoration-style: none;
    text-decoration: none;
}

nav > * {
    flex-grow: 1;
}

nav > ul {
    display: flex;

    float: right;
}

nav > ul > li {
    list-style-type: none;
    flex-grow: 1;

    margin-left: 10px;
}