@import "sass-code-highlight/code";

body {
    background-color: black;

    margin: 0;
    padding-top: 0;
    border: 0;

    background-image: url("/assets/img/bg.jpg");
    background-repeat: repeat;

    font-family: Verdana, Geneva, Tahoma, sans-serif
}

@media only screen and (orientation: landscape) {
    body {
        padding-left: 20%;
        padding-right: 20%;
    }

    div.grid-list {
        grid-template-columns: repeat(3, 33%);
    }
}

@media only screen and (orientation: portrait) {
    html {
        font-size: 150%;
    }

    div.grid-list {
        grid-template-columns: 100%;
    }

}

ul {
    margin: 0;
}

div.grid-list {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.block-list {
    display: grid;

    grid-template-columns: 100%;
}

.page-preview {
    border-radius: 5px;
    border-color: black;
    border-width: 1px;  

    border-style: solid;

    margin: 8px;
    padding: 10px;

    text-decoration: none;

    box-shadow: 0px 0px 10px 1px black;
}

.page-preview:link, .page-preview:visited {
    color: black;
}

.page-preview > * {
    margin: 0;
}
.page-preview > p {
    font-size: 0.8em;
}

div.root {
    background-color: white;

    padding-left: 3%;
    padding-right: 3%;

    box-shadow: 0px 0px 30px 3px gray;
}

h1 {
    margin-bottom: 3px;
}

.info > p {
    margin: 0;
}

.tags {
    display: flex;
    padding: 0;
}

.tags > li {
    color: rgb(75, 75, 75);

    list-style: none;
    margin: 0;
    padding-right: 8px;
}

nav {
    padding-top: 15px;
    width: 100%;

    display: inline-block;
}

nav > ul {
    display: flex;

    float: right;
}

nav > ul > li {
    list-style-type: none;

    margin-left: 10px;
}